html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: #030303;
  color: #55ffff;
  // font-family: 'Courier New', Courier, monospace;
  font-family: 'Impact', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 4vh;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.center {
  position: absolute;
  width: 100%;
}
.button {
  margin-top: 10%;
}
#canvas {
  display: none;
}
#game-wrapper {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  background-color: #060606;
  height: 100%;
  display: flex;
}
.game-bg {
  height: 100%;
  // border:1px red solid;
  flex: 1;
}
.board {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#bgBoard {
  background-color: #000;
}
// #menu, #intro {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 250px;
//   z-index: 2;
// }

// #menu {
//   opacity: 1;
// }

// #title {
//   color: #fe1015;
//   opacity: 0;
//   animation: show 2s ease-in 15s forwards;
// }
// #play {
//   opacity: 0;
//   animation: show 2s ease-in 15s forwards;
// }

// #skip {
//   animation: hide 2s ease-in-out 14s forwards;
// }
// #loading {
//   padding-left: 34px;
//   animation: hide 2s ease-in-out 14s forwards;

//   & > i {
//     opacity: 0;
//     animation: blink 2s;
//     animation-iteration-count: 7;
//   }
//   & *:nth-child(2) {
//     animation-delay: .33s;
//   }
//   & *:nth-child(3) {
//     animation-delay: .66s;
//   }
//   // & *:nth-child(4) {
//   //   animation-delay: 1.5s;
//   // }
//   // & *:nth-child(5) {
//   //   animation-delay: 2s;
//   // }
//   // & *:nth-child(6) {
//   //   animation-delay: 2.5s;
//   // }
// }

// @keyframes hide {
//   0% {
//     opacity: 1;
//   }
//   20%, 100% {
//     opacity: 0;
//   }
// }

// @keyframes show {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes blink {
//   0%, 40% {
//     opacity: 0;
//   }
//   20% {
//     opacity: 1;
//   }
// }

// .intro {
//   position: absolute;
//   top: 50px;
//   opacity: 0;
//   color: #1cfe3f;
//   animation: inout 2s ease-in-out;

//   &:nth-child(2) {
//     animation-delay: 0;
//   }
//   &:nth-child(3) {
//     animation-delay: 2s;}
//   &:nth-child(4) {
//     animation-delay: 4s;}
//   &:nth-child(5) {
//     animation-delay: 6s;}
//   &:nth-child(6) {
//     color: #fe1015;
//     animation-delay: 8s;
//     animation-duration: 8s;
//   }
// }

// @keyframes inout {
//   0%, 100% {
//     opacity: 0,
//   }
//   20%, 80% {
//     opacity: 100%,
//   }
// }

// #board {
//   /* - Transform! - */

//   // Try also `-35%` or -400px -30% / 300px
//   // transform: perspective(110px) rotateX(15deg) translateY(-28%);

//   /* It feels better going bottom to top: */
//   // transform: rotateX(180deg);
// }

// #beat-button-wrapper {
//   padding: 1rem 0 0;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   z-index: 1;
// }

// #lanes {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   overflow: hidden;
//   justify-content: center;

//   & > div {
//     width: 15%;
//     height: 100%;
//     // background-color: rgba(255, 255, 255, .5);
//     display: flex;
//     justify-content: center;
//     position: relative;

//     & .guide {
//       width: 1px;
//       height: 100%;
//       background-color: #ffffff;
//     }
//   }
// }

// // .beat-container {
// //   position: absolute;
// //   background-color: transparent;
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// //   border: 1px dashed red;
// //   // transform: perspective(0px) rotateX(60deg);
// // }

// // .beat-visual {
// //   width: 90%;
// //   height: 90%;
// //   border-radius: 100px;
  
// //   // transform: perspective(500px) rotateX(-50deg); //  translateY(-300px)
// // }

// // .bass-beat {
// //   background-color: blue;
// //   border: 1px dotted rgba(255, 255, 255, .25);
// // }

// // .kick-beat {
// //   background-color: green;
// //   border: 1px dotted rgba(255, 255, 255, .25);
// //   // transform: skew(-2deg, 2deg);
// //   // & .beat {
// //   //   transform: skew(2deg, -2deg);
// //   // }
// // }
// // .snare-beat { 
// //   background-color: yellow;
// //   border: 1px dotted rgba(255, 255, 255, .25);
// //   // transform: skew(2deg, -2deg);
// //   // & .beat {
// //   //   transform: skew(-2deg, 2deg);
// //   // }
// // }
// // .hihat-beat { 
// //   background-color: red;
// //   border: 1px dotted rgba(255, 255, 255, .25);
// //   // transform: skew(4deg, -4deg);
// //   // & .beat {
// //   //   transform: skew(-4deg, 4deg);
// //   // }
// // }

// #zone {
//   position: absolute;
//   bottom: 50px;
//   height: 80px;
//   width: 100%;
//   // background-color: rgba(255, 255, 255, .25);
//   border-bottom: 2px dashed rgba(255, 255, 255, .75);
//   border-top: 2px dashed rgba(255, 255, 255, .75);
//   // transform: perspective(0px) rotateX(60deg);
// }

// .beat-button {
//   color: #24333a;
//   width: 24%;
//   padding: 20px 1rem;

//   &#D {
//     background-color: #8293a5;
//   }
//   &#F {
//     background-color: #8293a5;
//   }
//   &#J {
//     background-color: #8293a5;
//   }
//   &#K {
//     background-color: #8293a5;
//   }
// }

// .textFly {
//   position: absolute;
//   opacitY: 1;
//   transition: all .75s;
//   top: 400px;
//   left: 300px;
// }

// .eq {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   & > div {
//     border: 2px solid #000000;
//     width: 100px;
//     height: 33px;
//     margin: 2px;
//     animation: light 1s;
//   }
// }
// .eq *:nth-child(1) { animation-delay: .1s;}
// .eq *:nth-child(2) { animation-delay: .09s;}
// .eq *:nth-child(3) { animation-delay: .08s;}
// .eq *:nth-child(4) { animation-delay: .07s;}
// .eq *:nth-child(5) { animation-delay: .06s;}
// .eq *:nth-child(6) { animation-delay: .05s;}
// .eq *:nth-child(7) { animation-delay: .04s;}
// .eq *:nth-child(8) { animation-delay: .03s;}
// .eq *:nth-child(9) { animation-delay: .02s;}
// .eq *:nth-child(10) { animation-delay: .01s;}

// @keyframes light {
//   0% {
//     background-color: rgba(28, 254, 63, 0);
//   }
//   100% {
//     background-color: rgba(28, 254, 63, 1);
//   }
// }

// result.perfect = getDrawResult('#1cfe3f')
// result.good = getDrawResult('#17f5fc')
// result.ok = getDrawResult('#f5ff3c')
// result.meh = getDrawResult('#ff9827')
// result.bad = getDrawResult('#fe1015')